

.contenido-ofertas {
    background: #090e17;
    color: #ffffff;
}




.hero-ofertas {
    min-height: 450px;

    display: flex;
    align-items: center;

    position: relative;

    background:
        radial-gradient(
            circle at 80% 50%,
            rgba(233, 10, 10, 0.18),
            transparent 35%
        ),
        linear-gradient(
            135deg,
            #147a59 0%,
            #050507 100%
        );

    overflow: hidden;
}

.hero-ofertas::after {
    content: "";

    position: absolute;

    width: 420px;
    height: 420px;

    right: 5%;
    top: 50%;

    transform: translateY(-50%);

    border: 120px solid rgba(255, 52, 6, 0.16);

    border-radius: 100%;
}

.hero-ofertas-contenido {
    position: relative;
    z-index: 2;
}

.hero-ofertas-texto {
    max-width: 720px;
}

.etiqueta-oferta {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 8px 14px;

    border-radius: 30px;

    background: rgba(255, 90, 54, 0.12);

    border: 1px solid rgba(255, 90, 54, 0.25);

    color: #ff5a36;

    font-size: 11px;
    font-weight: 800;

    letter-spacing: 1px;
}

.hero-ofertas h1 {
    margin: 22px 0 18px;

    font-family: 'Outfit', sans-serif;

    font-size: clamp(42px, 6vw, 68px);

    line-height: 1.05;

    font-weight: 800;
}

.hero-ofertas h1 span {
    color: #ff5a36;
}

.hero-ofertas p {
    max-width: 610px;

    margin: 0 0 30px;

    color: #8d96a5;

    font-size: 15px;

    line-height: 1.8;
}

.boton-ver-ofertas {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 14px 22px;

    background: #ff5a36;

    color: #ffffff;

    border-radius: 10px;

    text-decoration: none;

    font-size: 13px;
    font-weight: 800;

    transition: 0.25s ease;
}

.boton-ver-ofertas:hover {
    background: #e94725;

    transform: translateY(-2px);
}


/* =========================================================
   BENEFICIOS
========================================================= */

.beneficios-ofertas {
    background: #147a59

    
}

.beneficios-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
}

.beneficio-oferta {
    display: flex;
    align-items: center;

    gap: 15px;

    padding: 28px 22px;
   
}
.beneficios-ofertas .beneficio-oferta:nth-child(1){
     border-right:8px solid #ff5a36;
     border-left:8px solid #ff5a36;
    
}
.beneficios-ofertas .beneficio-oferta:nth-child(2){
     border-right:8px solid #ff5a36;
     
    
}
.beneficios-ofertas .beneficio-oferta:nth-child(3){
     border-right:8px solid #ff5a36;
     
}

.beneficio-oferta:last-child {
    border-right: 0;
}



.beneficio-oferta h3 {
    margin: 0 0 5px;

    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
}

.beneficio-oferta p {
    margin: 0;

    color: #abb0b9;

    font-size: 16px;

    line-height: 1.2;
    font-family: "Montserrat",sans-serif;
}




.seccion-lista-ofertas {
    padding: 85px 0;
}

.cabecera-seccion-ofertas {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    gap: 40px;

    margin-bottom: 38px;
}

.texto-pequeno-oferta {
    color: #ff5a36;

    font-size: 18px;

    font-weight: 700;

    letter-spacing: 1.6px;
}

.cabecera-seccion-ofertas h2 {
    margin: 10px 0 0;

    font-family: 'Outfit', sans-serif;

    font-size: clamp(30px, 4vw, 40px);

    line-height: 1.1;
}

.cabecera-seccion-ofertas p {
    max-width: 390px;

    margin: 0;
    background-color: #147a59;

    color: #ffff;

    font-size: 18px;
    border-radius:8px;

    line-height: 1.7;
    font-family: "Montserrat",sans-serif;
    border-left:8px solid#ff5a36;
    padding-left: 12px;
    
    
}
.cabecera-seccion-ofertas p:hover {
    box-shadow: 0px 3px 5px 3px #e2e50f;
}




.filtros-ofertas {
    display: flex;

    flex-wrap: wrap;

    gap: 32px;

    margin-bottom: 30px;
    position:sticky;
}

.filtro-oferta {
    padding: 10px 16px;

    border: none;

    border-radius: 35px;

    background: transparent;

    color: #8d96a5;

    font-family: 'Montserrat', sans-serif;

    font-size: 18px;

    font-weight: 700;

    cursor: pointer;
    
    transition: 0.25s ease;
}

.filtro-oferta:hover {
    color: #ffffff;

   
}

.filtro-oferta.activo {
    background: #ff5a36;

    border-color: #ff5a36;

    color: #ffffff;
}




.grid-ofertas {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 24px;
}




.tarjeta-oferta {
    overflow: hidden;

    background: #121927;


    border-radius: 18px;

    transition:
        transform 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

.tarjeta-oferta:hover {
    transform: translateY(-7px);

    border-color: rgba(255,90,54,0.4);

    ;
}

.tarjeta-oferta.oculta {
    display: none;
}




.imagen-oferta {
    height: 220px;

    position: relative;

    overflow: hidden;

    background: #161e2c;
    
}

.imagen-oferta img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;

    transition: transform 0.4s ease;
}

.tarjeta-oferta:hover .imagen-oferta img {
    transform: scale(1.05);
}

.descuento-oferta {
    position: absolute;

    top: 15px;
    left: 15px;

    padding: 7px 11px;

    background: #ff5a36;

    color: #ffffff;

    border-radius: 8px;

    font-size: 12px;

    font-weight: 800;
}

.etiqueta-tarjeta-oferta {
    position: absolute;

    top: 15px;
    right: 15px;

    padding: 7px 10px;

    background: rgba(9,14,23,0.88);

    border: 1px solid rgba(255,255,255,0.12);

    border-radius: 8px;

    color: #ffffff;

    font-size: 10px;

    font-weight: 800;

    letter-spacing: 0.7px;
}


/* =========================================================
   CONTENIDO TARJETA
========================================================= */

.contenido-tarjeta-oferta {
    padding: 32px;
}

.categoria-oferta {
    display: block;

    margin-bottom: 8px;

    color: #ff5a36;

    font-size: 14px;

    font-weight: 800;

    letter-spacing: 1px;
}

.contenido-tarjeta-oferta h3 {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    font-size: 24px;

    font-weight: 700;
}

.descripcion-oferta {
    min-height: 40px;

    margin: 9px 0 15px;

    color: #8d96a5;

    font-size: 14px;

    line-height: 1.6;
}


/* =========================================================
   CARACTERÍSTICAS
========================================================= */

.caracteristicas-oferta {
    display: flex;

    justify-content: space-between;

    padding: 13px 0;

   
}

.caracteristicas-oferta span {
    display: flex;
    align-items: center;

    gap: 6px;

    color: #8d96a5;

    font-size: 14px;
}

.caracteristicas-oferta i {
    color: #ff5a36;
    font-size:14px;
}


/* =========================================================
   PRECIOS
========================================================= */

.precios-oferta {
    display: flex;

    align-items: flex-end;

    justify-content: space-between;

    gap: 10px;

    padding: 15px 0;
}

.precio-anterior {
    display: block;

    color: #687181;

    text-decoration: line-through;

    font-size: 18px;
}

.precios-oferta strong {
    font-family: 'Outfit', sans-serif;

    color: #ffffff;

    font-size: 25px;

    font-weight: 800;
}

.por-dia {
    color: #8d96a5;

    font-size: 9px;
}

.ahorro-oferta {
    color: #39c47a;

    font-size: 14px;

    font-weight: 700;

    
}


/* =========================================================
   SIN RESULTADOS
========================================================= */

.sin-resultados-ofertas {
    padding: 70px 20px;

    text-align: center;

    color: #8d96a5;
}

.sin-resultados-ofertas i {
    margin-bottom: 15px;

    color: #ff5a36;

    font-size: 38px;
}

.sin-resultados-ofertas h3 {
    margin: 0 0 8px;

    color: #ffffff;

    font-family: 'Outfit', sans-serif;
}

.sin-resultados-ofertas p {
    margin: 0;

    font-size: 12px;
}
.btn-reservar-oferta {
        font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: transparent;
    color: var(--color-blanco);
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight:600
    
}
.btn-reservar-oferta:hover {
    background-color: #ff5a36;
    max-width: 100%;
}



/* =========================================================
   CTA
========================================================= */

.cta-ofertas {
    padding: 15px 0;

    border-top: 1px solid rgba(255,255,255,0.07);

    background:
        linear-gradient(
            135deg,
            rgba(255,90,54,0.13),
            rgba(255,90,54,0.03)
        );
}

.contenido-cta-ofertas {
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    
}

.contenido-cta-ofertas  span {
    color: #ff5a36;

    font-size: 14px;

    font-weight: 800;

    letter-spacing: 1.5px;
    
}
.contenido-cta-ofertas  span:hover {
    border-bottom: 3px solid #b6f607;
}

.contenido-cta-ofertas h2 {
    max-width: 700px;

    margin: 12px auto;

    font-family: 'Montserrat', sans-serif;

    font-size: 28px;
    
}
.contenido-cta-ofertas h2:hover {
    color:#39c47a
}.contenido-cta-ofertas h2 {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.contenido-cta-ofertas h2:hover {
  color: #39c47a;
}


.contenido-cta-ofertas h2::after {
   
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 5px;
  height: 5px;
  background: #e7610d;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 
    20px -10px #490bce,
    -20px 10px #c7800d,
    15px 15px #c3082a,
    -15px -15px #39c47a,
    0px 20px #9505d8,
    0px -20px #c0e90a;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.56s ease, opacity 0.6s ease;
}

.contenido-cta-ofertas h2:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.8);
}

f
.contenido-cta-ofertas p {
    margin: 0 auto 25px;

    color: #8d96a5;

    font-size: 16px;
}

.boton-cta-ofertas {
    display: flex;

    align-items: center;

    gap: 9px;

    padding: 14px 22px;

    border-radius: 10px;

    background: #ff5a36;

    color: #ffffff;

    text-decoration: none;

    font-size: 14px;

    font-weight: 800;
    margin-top: 18px;

    transition: 0.25s ease;
}

.boton-cta-ofertas:hover {
    background: #e94725;

    transform: translateY(-4px);
}
/*SECCION CARRUSEL*/
.seccion-carrusel-infinito {
    padding: 25px 0;


    background:
        transparent;
    padding:30px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width:100%;


}
.marquee-contenedor {
    display: flex;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, rgb(194, 191, 191) 10%, rgb(163, 17, 17) 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgb(205, 200, 200) 10%, rgb(205, 201, 201) 90%, transparent);
}
.marquee-pista {
    display: flex;
    gap: 12px;
    align-items: center;
    width: max-content;
    animation: desplazamientoInfinito 25s linear infinite;
}
.marquee-pista:hover {
    animation-play-state: paused;

}
.marquee-item {
    border-radius: 14px;
    overflow: hidden;
    width: 590px;
    height: 380px; 
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}
.marquee-item .marquee-texto p, h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

}

.marquee-item i {
    color:  #ff5a36;
    font-size: 1.1rem;
}
.marquee-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}
.marquee-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, rgba(11, 17, 30, 0.95) 20%, rgba(11, 17, 30, 0.6) 60%, transparent 100%);
    z-index: 2;
}
.marquee-texto {
    position: relative;
    z-index: 3; 
    padding: 20px;
    text-align: left;
}

.marquee-texto h4 {
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    margin: 0 0 6px 0;
}

.marquee-texto p {
    color: #94a3b8;
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    white-space: normal; 
    line-height: 1.4;
}
@keyframes desplazamientoInfinito {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


/* =========================================================
   RESPONSIVE
========================================================= */

@media (max-width: 1000px) {

    .grid-ofertas {
        grid-template-columns: repeat(2, 1fr);
    }

    .beneficios-grid {
        grid-template-columns: 1fr;
    }

    .beneficio-oferta {
        border-right: 0;

        border-bottom: 1px solid rgba(255,255,255,0.07);
    }

    .beneficio-oferta:last-child {
        border-bottom: 0;
    }

}


@media (max-width: 700px) {

    .hero-ofertas {
        min-height: 400px;
    }

    .hero-ofertas h1 {
        font-size: 40px;
    }

    .cabecera-seccion-ofertas {
        display: block;
    }

    .cabecera-seccion-ofertas p {
        margin-top: 15px;
    }

    .grid-ofertas {
        grid-template-columns: 1fr;
    }

    .imagen-oferta {
        height: 240px;
    }

}


@media (max-width: 450px) {

    .hero-ofertas h1 {
        font-size: 35px;
    }

    .seccion-lista-ofertas {
        padding: 60px 0;
    }

    .contenido-tarjeta-oferta {
        padding: 19px;
    }

    .precios-oferta {
        flex-direction: column;

        align-items: flex-start;
    }

}